%h4
  Encounter the best software in the universe
%div.left
  %h5 Technologies
  %ul
    %li Ruby On Rails
    %li JQuery
    %li HAML
    %li CoffeeScript
    %li Node.js
    %li Linux Servers
    %li Mysql and Sqlite3
%div.right.span8
  %h5 Mission Statement
  %p
    We Strive to provide our clients with the best software out there.  Our passion for clean, reuseable software is unmatched in the industry.  All of our code is 
    tested and proven to be not only maintainable but graceful.  
